*{
    font-family: "Montserrat", sans-serif;
}
.container{
    background: url('../img/v882-sasi-39-e.jpg');
    width: 100%;
    height: 97.5vh;
    background-size: contain;
    background-repeat: repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
h1{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    color: #e17a94;
    margin-bottom: 5px;
}
p{
    font-size: 20px;
    margin-top: 0%;
    font-family: "Montserrat", sans-serif;
    color: #efbfa8;
}
a{
    text-decoration: none;
    color: white;
    width: 200px;
    height: 100%;
    z-index: 1;
   
}
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    width: 200px;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #e5728f;
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       #b54460 0%,
       #da7f96 8%,
       #ca7c8f 92%,
       #b54460 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(0, 0%, 0%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }
@media screen and (max-width: 500px){
    a{
        width: 150px;
    }
    button {
       width: 150px;
    }
}